.App {
  text-align: center;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Section {

  width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;

}

.Section h1 {

  margin: 10px;
  text-decoration: underline;

}

.Section div {

  /* padding: 20px; */
  min-height: 100px;

}

form {

  display: flex;
  flex-direction: column;

}

form row {

  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;

}

input {

  height: 50px;
  margin-top: 20px;
  
}